.reset-password {
  padding: 100px 0;
  max-width: 406px;
  margin: 0 auto;
  text-align: center;

  h1 {
    font-size: 30px;
  }

  &-form {
    padding: 20px 0;

    label {
      display: flex;
      padding-bottom: 10px;
      font-weight: 600;
    }
  }

  &-error {
    color: red;
    display: block;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 700;
  }
}